@import url("import.css");

h1 {
    font-family: Arial, sans-serif;
    text-align: center;
}

.my-style {
    color: yellow;
    font-weight: bold;
}

a.my-link:hover {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

a.my-link:active {
    background-color: purple;
}

.my-link {
    color: green;
    font-size: 20px;
}

p.intro::first-letter {
    font-size: 200%;
    color: red;
    font-weight: bold;
}

.marker::after {
    content: " Зимбабве";
    color: red;
    font-style: italic;
}
